<%= render partial: 'shared/merchant_navtabs'  %>
<h1>Invoice Number: <%= @invoice.id %></h1>
<h4>Invoice Details</h4>
<div class="container">
  <div class="row border">
    <div class="col border">
      <p>Invoice Status: <%= @invoice.status %></p>
    </div>
    <div class="col border">
      <p>Created at: <%= @invoice.created_at.strftime("%A, %B %e, %Y") %></p>
    </div>
  </div>
  <div class="row border">
    <div class="col border">
      <p>Customer Name: <%= @invoice.customer.full_name %></p>
    </div>
    <div class="col border">
      <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue.fdiv(100)) %></p>
      <p>Discounted Revenue: <%= number_to_currency(@invoice.discount_revenue.fdiv(100)) %></p>
    </div>
  </div>
</div><br>

<h4>Item Details</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Discounts</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_items.each do |inv_item|  %>
    <tr>
      <td><%= inv_item.item.name %></td>
      <td><%= inv_item.quantity %></td>
      <% if inv_item.highest_discount.nil? %>
        <td>"No Discounts Applied"</td>
      <% else %>
        <td><%= link_to "#{inv_item.highest_discount.name}", merchant_bulk_discount_path(@merchant, inv_item.highest_discount.id) %></td>
      <% end %>
      <td><%= number_to_currency(inv_item.unit_price.fdiv(100)) %></td>
      <td><div id="inv_item-<%= inv_item.id %>">
          <%= form_with model: [@merchant, inv_item], local: true do |f| %>
            <%= f.select(:status, ['pending', 'packaged', 'shipped'], value: inv_item.status) %>
            <%= f.submit 'Update' %>
          <% end %>
        </div></td>
    </tr>
    <% end %>
  </tbody>
</table>
