<h1>Admin Merchants</h1>

<%= link_to "Create New Merchant", new_admin_merchant_path %>
<br/>
<br/>
<h2>Top Merchants</h2>
<div id="top-merchants">
<table class="table table-bordered border-dark">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Best Day</th>
      <th scope="col">Sales</th>
    </tr>
  </thead>
  <tbody>
    <% @merchants.top_five_merchants.each_with_index do |merch, i| %>
    <span id="id-<%= merch.name %>">
    <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= merch.name %></td>
      <td><%= merch.date.strftime('%b %e, %Y') %></td>
      <td><%= number_to_currency(merch.revenue.fdiv(100)) %></td>
    </tr>
    </span>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
<div class="row">
<div id="enabled" class="col">
  <h3>Enabled</h3>
  <table class="table">
    <tbody>
      <% @merchants.by_status('enabled').each do |merch| %>
      <span id="merch-<%= merch.id %>">
        <tr>
        <td><%= link_to merch.name, admin_merchant_path(merch) %></td>
        <td><%= button_to "Disable", admin_merchant_path(merch), method: :patch, params: { merchant: { status: 'disabled' } }, class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
      </span>
      <% end %>
    </tbody>
  </table>
</div>
<div id="disabled" class="col">
  <h3>Disabled</h3>
  <table class="table">
    <tbody>
      <% @merchants.by_status('disabled').each do |merch| %>
      <span id="merch-<%= merch.id %>">
      <tr>
        <td><%= link_to merch.name, admin_merchant_path(merch) %></td>
        <td><%= button_to "Enable", admin_merchant_path(merch), method: :patch, params: { merchant: { status: 'enabled' } }, class: 'btn btn-outline-success btn-sm' %></td>
      </tr>
      </span>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
