<h1>Admin Merchants</h1>

<%= link_to "Create New Merchant", new_admin_merchant_path %>

<div class="container">
<div class="row">
<div id="enabled" class="col">
<% @merchants.by_status('enabled').each do |merch| %>
    <%= link_to merch.name, admin_merchant_path(merch) %>
    <span id="merch-<%= merch.id %>">
      <%= button_to "Disable #{merch.name}", admin_merchant_path(merch), method: :patch, params: { merchant: { status: 'disabled', name: merch.name } } %>
    </span>
<% end %>
</div>

<div id="disabled" class="col">
<% @merchants.by_status('disabled').each do |merch| %>
    <%= link_to merch.name, admin_merchant_path(merch) %>
    <span id="merch-<%= merch.id %>">
    <%= button_to "Enable #{merch.name}", admin_merchant_path(merch), method: :patch, params: { merchant: { status: 'enabled', name: merch.name } } %>
    </span>
<% end %>
</div>
<div id="top-merchants" class="col">
<% @merchants.top_five_merchants.each do |merch| %>
    <%= merch.name %>
<% end %>
</div>
</div>
</div>
