<%= @merchant.name %>

<%= link_to 'Items', merchant_items_path(@merchant) %>
<%= link_to 'Invoices', merchant_invoices_path(@merchant) %><br>

<h5>Top 5 customers:</h5>
<% @customers.each do |customer| %><br>
    Customer Name: <%= customer[0] %><br>
    Number of Successful Transactions: <%= customer[1] %><br>
<% end %>

<h5>Items Ready to Ship:</h5>
<% @items.each do |item| %><br>
    Item Name: <%= item.name %><br>
    Invoice ID: <%= link_to item.invoices_id , merchant_invoice_path(@merchant.id, item.invoices_id) %><br>
<% end %>
